<header class="header">
  <div class="header-left">
    <a href="https://jdqualis.github.io/Qualis-Playwright-DOC#home">
      <img src="./assets/logo.png" alt="Logo" class="logo" />
    </a>
  </div>

  <div class="search-box-centered">
    <div class="search-container">
      <div class="search-input-wrapper">
        <i class="fas fa-search search-icon"></i>
        <input 
          type="search" 
          id="search-input" 
          class="search-input" 
          placeholder="Buscar en la documentación..." 
          autocomplete="off" 
        />
      </div>
      <div id="search-suggestions" class="search-suggestions"></div>
    </div>
  </div>

  <div class="header-right">
    <label class="toggle-switch">
      <input type="checkbox" id="theme-toggle" />
      <span class="slider"></span>
    </label>
  </div>
</header>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
