  <aside class="sidebar">
    <nav>
      <a href="#home" onclick="routeTo('home')">Introducción</a>
      <a href="#instalacion" onclick="routeTo('instalacion')">Instalación Framework</a>
      <a href="#cucumber" onclick="routeTo('cucumber')">Cucumber</a>
      <a href="#estructura" onclick="routeTo('estructura')">Estructura del Proyecto</a>
      <a href="#ejecucion" onclick="routeTo('ejecucion')">Ejecución de Pruebas</a>
      <a href="#pages-locators" onclick="routeTo('pages-locators')">Pages y Locators</a>
      <a href="#utils" onclick="routeTo('utils')">Utils</a>
      <a href="#reportes" onclick="routeTo('reportes')">Reportes</a>
      <a href="#buenas-practicas" onclick="routeTo('buenas-practicas')">Buenas Prácticas</a>
      <a href="#recursos-utiles" onclick="routeTo('recursos-utiles')">Recursos Utiles</a>
    </nav>
  </aside>
  