<section id="introduccion" class="section-content">
  <h1 class="section-title" style="display: flex; align-items: center; gap: 0.7em;">
    Framework Playwright
  </h1>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const basePath = window.config.getBasePath();
      document.getElementById('playwrightLogo').src = `${basePath}/assets/playwrightLogo.png`;
    });
  </script>

  <p class="section-paragraph">
    Esta documentación describe el uso, instalación, ejecución y buenas prácticas del framework Playwright desarrollado desde Qualis Lab.
  </p>

  <p class="section-paragraph">
    Utilizá el menú lateral o el buscador para navegar entre las diferentes secciones.
  </p>

  <hr class="hr-divider">

  <p class="section-paragraph">
    Este documento permite instalar y dejar listo el entorno necesario para utilizar el framework de automatización basado en Playwright, Cucumber y Node.js.
  </p>

  <p class="section-paragraph">
    Este repositorio contiene una prueba de concepto (PoC) para el uso de Playwright en proyectos de automatización de pruebas, utilizando Cucumber y Node.js.
  </p>

  <p class="section-paragraph">
    Este proyecto explora las capacidades de Playwright, incluyendo ejemplos básicos de interacción con navegadores Chrome, Firefox y WebKit, junto con Cucumber para escribir pruebas en lenguaje natural.
  </p>
</section>

